/* styles.css */

body {
  background: url('body.png') center/cover no-repeat fixed; /* Background image */
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  margin: 0;
  padding: 0;
}
/* styles.css */

header {
  /* background-image: url('body.png'); Replace 'path/to/your/image.jpg' with the path to your image */
  background-size: cover; /* Ensures the background image covers the entire header */
  background-position: center; /* Centers the background image */
  color: rgb(0, 0, 0);
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999; /* Ensure the header is on top */
}
.toolbar-left, .toolbar-right {
  display: flex;
  align-items: center;
}

.toolbar-left button {
  margin-bottom: 10px; /* Added space between buttons */
}
.toolbar-left button:not(:last-child) {
  margin-right: 10px; /* Added margin between buttons */
}

.toolbar-right select {
  margin-top: 10px; /* Added space to match button alignment */
  margin-right: 10px; /* Added margin to align with buttons */
}

.toolbar-right select:last-child {
  margin-right: 30px; /* Added margin between select and right edge */
}

.toolbar-search {
  width: 100%;
  margin-top: 20px; /* Added top margin to separate from other elements */
}

#searchInput {
  width: calc(100% - 60px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


h1 {
  margin: 0;
}
h2 {
  padding-left: 10px;
}
p {
  padding-left: 10px;
}

.company h2 {
  padding-left: 10px;
}

.company p {
  padding-left: 10px;
}

button {
  padding: 10px 20px;
  background-color: #666666;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #353535;
}

select {
  padding: 10px;
  border-radius: 5px;
}

.company-container {
  padding-top: 150px; /* Adjusted padding to accommodate the fixed toolbar */
}

.company {
  margin-top: 20px; /* Adjusted margin-top to accommodate the fixed toolbar */
  padding-top: 20px; /* Added padding-top to prevent content from being hidden behind fixed elements */
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.companys {
  margin-top: 0px; /* Adjusted margin-top to accommodate the fixed toolbar */
  padding-top: 300px; /* Added padding-top to prevent content from being hidden behind fixed elements */

  transition: box-shadow 0.3s ease;
  width: 100%;
  
}

.background-image {
  background: url('banner.png') center/cover no-repeat ; /* Background image */
  background-position: center bottom;
  position: relative;
  
  z-index: -1; /* Ensure the image is behind other content */
}

.text-overlay {
  position: absolute;
  color: #ffffff;
  
  top: 50%; /* Center the text vertically */
  left: 0;
  right: 0;
  text-align: center; /* Center the text horizontally */
  transform: translateY(-50%); /* Adjust vertical position */
  z-index: 1; /* Ensure the text is above the background image */
}


.company:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}


@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center; /* Center items when the window is too small */
  }

  .toolbar-left, .toolbar-right {
    width: 100%; /* Take up full width when the window is too small */
    justify-content: center; /* Center items when the window is too small */
  }

  .toolbar-right select:last-child {
    margin-right: 0; /* Remove margin between select and right edge */
  }

  .company-container {
    padding-top: 230px; /* Adjusted padding to accommodate the fixed toolbar */
  }

}

