/* styles.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999; /* Ensure the header is on top */
}

.toolbar-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.toolbar-left button {
  margin-bottom: 10px; /* Added space between buttons */
}

.toolbar-right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toolbar-right select {
  margin-top: 10px; /* Added space to match button alignment */
  margin-right: 10px; /* Added margin to align with buttons */
}

header h1 {
  margin: 0;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

select {
  padding: 10px;
  border-radius: 5px;
}

.toolbar-search {
  background-color: #f9f9f9; /* Added background color to toolbar search */
  padding: 20px; /* Added padding to toolbar search */
  width: 100%;
  position: fixed;
  top: 80px; /* Adjusted top position to avoid being hidden by header */
  z-index: 998; /* Ensure the search bar is behind the header */
}

#searchInput {
  width: calc(100% - 20px); /* Adjusted input width to accommodate padding */
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

#information, #contactForm {
  margin-top: 140px; /* Adjusted to accommodate the fixed header and toolbar search */
  padding: 20px;
  background-color: #f9f9f9;
}

#companies {
  margin-top: 200px; /* Adjusted to accommodate the fixed header and toolbar search */
}

.company {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: box-shadow 0.3s ease;
}

.company:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  header select {
    margin-top: 10px;
  }

  #information, #contactForm {
    margin-top: 180px; /* Adjusted for smaller screens */
  }

  #companies {
    margin-top: 240px; /* Adjusted for smaller screens */
  }
}
